<h1>Admin Panel</h1>
<a href="/admin/add-form">➕ Add New Blog</a>

<form action="/admin/delete-all" method="POST" style="margin-top:20px;">
    <button type="submit" onclick="return confirm('Are you sure? This will delete ALL blogs!')">
        🗑 Delete All Blogs
    </button>
</form>

<hr>

<% if (blogs.length === 0) { %>
    <p>No blogs found.</p>
<% } else { %>
    <table border="1" cellpadding="10" style="border-collapse: collapse;">
        <tr>
            <th>Title</th>
            <th>Subtitle</th>
            <th>Author</th>
            <th>Actions</th>
        </tr>
        <% blogs.forEach(blog => { %>
            <tr>
                <td><%= blog.title %></td>
                <td><%= blog.subtitle %></td>
                <td><%= blog.author %></td>
                <td>
                    <form action="/admin/delete/<%= blog._id %>" method="POST" style="display:inline;">
                        <button type="submit" onclick="return confirm('Delete this blog?')">
                            🗑 Delete
                        </button>
                    </form>
                </td>
            </tr>
        <% }) %>
    </table>
<% } %>
